/* ========== COMMON STYLES ========== */
ul, 
ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}
/* ========== /COMMON STYLES ========== */

/* ========== HEADER STYLES ========== */
.page-logo {
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.03em;
    color: #111;
}


    





/* ========== /HEADER STYLES ========== */